@font-face { /*REGULAR FONT*/
    font-family: "FiraSans Bold";
    src: url("../fonts/firasans/FiraSans-Medium.ttf");
}

body{
	background: #fdfdfd;
	padding-top: 70px;
}

.section-wrapper{
    max-width: 1220px;
}

.footer-wrapper{
	/*background: #f0f0f0;*/
}

#brandsPage{
	position: relative;
	min-height: 100vh;
	min-height: calc(100vh - 160px);
	padding-top: 15px;
	padding-bottom: 40px;
}