body{
  /*font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
  /*font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  --main-color: #f38536;
  --main-color-light: #fcebdf;
  --accent-color: #4351a2;
  --accent-color-light: #98a1c8;
  --light-color: #f3f3f3;

  --main-color-darker: #744d8f;

  font-family: "FiraSans", sans-serif;
}

body.locked{
    overflow: hidden;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes slideInDown {
    from {
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideInDown {
    from {
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.slideInDown {
    -webkit-animation-name: slideInDown;
    animation-name: slideInDown;
}


@-webkit-keyframes slideOutUp {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    to {
        visibility: hidden;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
}

@keyframes slideOutUp {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    to {
        visibility: hidden;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
}

.slideOutUp {
    -webkit-animation-name: slideOutUp;
    animation-name: slideOutUp;
}


.section-wrapper{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2em;
}

#topNav{
    padding: 8px 0;
}

#topNav.mini{
    padding: 4px 0;
}

#topNav.mini .section-wrapper{
    padding-left: calc(2em - 20px);
}

#topNav.mini + #mainNav .section-wrapper{
    padding-left: calc(2em - 40px);
}

#navRightThings{
    font-size: 16px;
}

#navRightThings i{
    font-size: 22px;
    margin-right: 8px;
    color: var(--accent-color);
}

#topNav.mini #navRightThings,
#topNav.mini #navRightThings i{
    font-size: 15px;
}

#loginLink{
    margin-left: 24px;
}

#userLink{
    margin-left: 16px;
    color: var(--accent-color);
}


#miniCartToggle i{
    font-size: 18px;
}

#mainLogo{
    font-family: "Futura Bold", sans-serif;
    font-size: 2em;
    color: var(--main-color-darker);
}

#mainLogo img{
    height: 40px;
    /*margin-left: 30px;*/
}

#topNav.mini #mainLogo img{
    height: 30px;
}

#navAd{
    margin-top: 4px;
    margin-right: -12px;
    max-width: 600px;
}

#topNav.mini #navAd{
    display: none;
}

#navAd img{
    width: 100%;
}

#mainNav{
    padding: 8px 0;
    background: var(--main-color);
    z-index: 9;
    color: #fff;
}

#mainNavPlaceHolder{
    height: 66px;
    display: none;
}

@keyframes slideDown {
    from{
        transform: translateY(-110%);
    }

    to{
        transform: none;
    }
}

#mainNav.fixed,
#mainNav.thin{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

#mainNav.thin + #mainNavPlaceHolder{
    display: block;
}

#mainNav.fixed{
    background-color: #fff !important;
    border-bottom: 1px solid #f5f5f5;
}

#mainNav.fixed:before,
#mainNav.thin:before{
    content: "";
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    box-shadow: 0 2px 3px rgba(0,0,0,0.1);
    transition: opacity 0.25s ease-in-out;
}

#mainNav.fixed.shadowed:before,
#mainNav.thin.shadowed:before{
    opacity: 1;
}

#mainNav.fixed.shadowed,
#mainNav.thin.shadowed{
    border-bottom-color: transparent;
}

#mainNav.fixed{
    background: #fff;
    color: #444;
}

#mainNav.thin{
    animation: slideDown 0.35s ease-out;
}

#mainNav .section-wrapper{
    padding-left: calc(2em - 20px);
}

#navLinks > a,
#navLinks .dropdown-menu > a{
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    padding: 16px 20px;
    font-size: 1.1em;
    font-family: "PT Bold", sans-serif;
}

#navLinks > a.active{
    border-left:none;
}

#navLinks .dropdown{
    position: absolute;
    left: 0;
    top: 100%;
    display: inline-block;
    font-size: 1.1em;
    font-family: "PT Bold", sans-serif;
    background-color: #fff;
    color: #000;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: all 0.15s ease-out;
}

#navLinks .dropdown-menu > a:not(:hover) + .dropdown:not(:hover){
    opacity: 0;
    pointer-events: none;
    transform: translateY(10%);
}

#navLinks .dropdown a{
    display: block;
    position: relative;
    padding: 16px 20px;
    font-size: 0.9em;
    font-family: PT, sans-serif;
    min-width: 170px;
}

#navLinks .dropdown a:hover{
    background-color: #f5f5f5;
}

#mainNav #searchBar{
    background: #fff;
    border-radius: 2px;
    overflow: hidden;
    max-width: 320px;
}

#mainNav.fixed #searchBar{
    color: #444;
    position: relative;
    margin-left: 22px;
    margin-right: 22px;
    background: #f0f0f0;
    border-radius: 4px;
    overflow: hidden;
    height: 45px;
}

#mainNav #searchBar i{
    padding: 8px 12px;
    color: #888;
    margin-bottom: 4px;
    /*background: #000;*/
}

#mainNav.fixed #searchBar i{
    padding: 12px 20px;
    color: #888;
    margin-bottom: 2px;
}

#mainNav #searchBar input{
    position: relative;
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    font-size: 1.05em;
}

#mainNav.fixed #searchBar input{
    flex: 1;
    width: 220px;
    font-size: 16px;
}

#mainNav #searchBar button{
    display: none;
    height: 30px;
    width: 35px;
    line-height: 27px;
    text-align: center;
    background-color: var(--accent-color);
    color: #fff;
    border: none;
    border-radius: 1px;
    outline: none;
    margin-right: 4px;
}

#mainNav.fixed #searchBar button{
    background-color: var(--main-color);
    font-family: FiraSans, sans-serif;
    color: #fdefe5;
    font-size: 16px;
    padding-left: 8px;
    padding-right: 8px;
    height: 25px;
    border-radius: 4px;
    width: auto !important;
    margin-right: 8px;
}

.section-title h1{
    font-family: "PT Bold", sans-serif;
    font-size: 2.5em;
}

.section-title p{
    font-size: 1.7em;
    font-family: "Futura", sans-serif;
}

.section-title h1 + p{
    margin-top: 6px;
    margin-left: 6px;
}

/*BRAND*/
.brand{
    display: block;
    text-align: center;
    margin-top: 22px;
    margin-bottom: 22px;
}
.brand .image{
    position: relative;
    height: 120px;
    overflow: hidden;
    margin-bottom: 12px;
}

.brand .image img{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    max-width: 70%;
}

.brand .name{
    font-size: 20px;
    margin-bottom: 4px;
}

.brand .price{
    font-family: FiraSans Light, sans-serif;
    color: #555;
    margin-bottom: 12px;
    display: none;
}

/*PRODUCT*/
.product{
    padding: 24px 0;
    border: 1px solid #f5f5f5;
    display: block;
    text-align: center;
    margin-top: 22px;
    margin-bottom: 22px;
}

.product .image{
    height: 250px;
    margin-bottom: 12px;
}

.product img{
    max-height: 250px;
    max-width: 70%;
}

.product .name{
    font-size: 20px;
    margin-bottom: 4px;
}

.product .price{
    font-family: FiraSans Light, sans-serif;
    color: #555;
    margin-bottom: 12px;
    display: block;
}

.product.added .price span:first-child,
.product:not(.added) .price span:last-child {
    display: none;
}

.btn{
    display: inline-block;
    vertical-align: top;
    position: relative;
    transition: all .3s ease;
    border: 1px solid transparent;
    border-radius: 2px;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    text-transform: lowercase;
    white-space: nowrap;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    height: 30px;
    padding: 0 20px;
    font-size: 15px;
    line-height: 27px;
    background: var(--main-color);
    color: #fff; 
}

.btn.accent{
    background: var(--accent-color);
}

.btn.danger{
    background: #ff3a3c;
}

.btn.large{
    height: 40px;
    padding: 0 40px;
    font-size: 15px;
    line-height: 37px;
}

.btn.block{
    width: 100%;
}

.btn[disabled],
.btn.disabled{
    background: #ddd;
    color: #aaa;
    pointer-events: none;
}

.product.added .btn.add-btn,
.product:not(.added) .btn.remove-btn{
    display: none;
}

.input{
    display: inline-block;
    position: relative;
    height: 40px;
    min-width: 170px;
    padding: 0 15px 0 15px;
    border: 1px solid #999;
    border-radius: 0;
    outline: 0;
    color: #414141;
    font: 400 12px/40px Arial,sans-serif;
    font-style: normal!important;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

select.input{
    cursor: pointer;
    padding: 0 28px 0 15px;
    background: url(../images/arrow_down.svg) right center/43px 7px no-repeat;
}

/*FOOTER*/
footer{
    /*height: 260px;*/
}

.footer-wrapper{
    background-color: #f8f8f8;
    padding: 4em;
    padding-bottom: 2.5em;
}

footer #copyright{
    background-color: transparent;
    /*max-width: 800px;*/
    font-size: 12px;
    color: #ccc;
    font-family: "FiraSans", sans-serif;
    padding: 20px 0;
    background: #000;
}

footer .highlight{
    color: #fff;
    /*color: var(--color-primary-0);*/
}

footer #subscribe{
    padding-right: 40px;
    width: 350px;
    min-width: 350px;
}

footer #subscribe h3{
    font-size: 24px;
    margin-bottom: 4px;
}

footer #subscribe p{
    font-family: "FiraSans", sans-serif;
    font-size: 17px;
    line-height: 1.8em;
    color: #555;
    margin-bottom: 8px;
}

footer #subscribe input,
footer #subscribe button{
    display: inline-block;
}

footer #subscribe input{
    width: 240px;
    padding: 10px 17px;
    font-size: 18px;
}

footer #subscribe button{
    padding: 10px 17px;
    border: 0;
    color: #fff;
    background: var(--accent-color);
}

#footerNav{
    margin-bottom: 25px;
}

#footerNav h5{
    font-family: "FiraSans", sans-serif;
    font-size: 20px;
    margin-bottom: 12px;
}

#footerNav a{
    font-family: "FiraSans", sans-serif;
    display: inline-block;
    font-size: 15px;
    margin-bottom: 8px;
}

footer #socialMediaLinks a{
    font-size: 30px;
    margin: 12px;
    margin-top: 0;
    margin-left: 0;
}

/*MOBILE ONLY STYLES*/

/*APP BAR*/
#appBar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background-color: var(--main-color);
    color: #fff;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}
#mainActionBar{
    height: 58px;
    padding: 0 8px;
}

#mainActionBar #mainLogo{
    margin-left: 8px;
    font-size: 20px;
    color: #fff;
}

#mainActionBar #mainLogo img{
    align-self: flex-start;
    width: 53px;
    height: auto;
    display: inline-block;
    margin-right: 12px;
}

#mainActionBar #optionsMenu button{
    background-color: transparent;
    padding: 4px;
    border: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
}

#mainActionBar #optionsMenu button:active,
#mainActionBar #optionsMenu button:focus{
    background-color: rgba(0,0,0,0.04);
}

#cateGoryTabs{
    margin-top: -6px;
}

#cateGoryTabs a{
    position: relative;
    min-width: 70px;
    flex-shrink: 0;
    padding: 20px 24px;
}

#cateGoryTabs a:before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    display: none;
}

#cateGoryTabs a.active:before{
    display: block !important;
}


/*BOTTOM NAV*/
#bottomNav{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #fff;
    color: #000;
    box-shadow: 0 -1px 4px rgba(0,0,0,0.05);
    z-index: 99;
}

#bottomNav a{
    opacity: 0.5;
    min-width: 25%;
    height: 50px;
    font-size: 1em !important;
    flex-shrink: 0;
    transition: transform 0.35s ease-out;
}

#bottomNav a i{
    font-size: 1.1em;
    margin-bottom: 6px;
}

#bottomNav a.active{
    opacity: 1;
    transform: scale(1.1);
}

#bottomNav a:nth-child(1) i{
    /*font-size: 24px;*/
}

@media screen and (min-width: 681px){
    .for-mob{
        display: none !important;
    }
}

@media screen and (max-width: 680px){
    .for-lg{
        display: none !important;
    }
}