body{

}
#cartItems{

}

#emptyMessage{
    position: fixed;
    left: 0;
    top: 60px;
    bottom: 60px;
    width: 100%;
    background: #fefefe;
}

#emptyMessage img{
    height: 177px;
}

#emptyMessage h3{
    font-size: 1.7em;
    margin-top: 8px;
}

#emptyMessage p{
    font-family: Futura, sans-serif;
    margin-top:4px;
    margin-bottom: 22px;
}

#emptyMessage .btn{
    text-transform: uppercase;
    margin-bottom: 30px;
}
#cartItemsSummary{
    position: fixed;
    bottom: 3.8em;
    left: 0;
    width: 100%;
    padding: 0.8em 0.8em;
    background-color: #f8f8f8;
    z-index: 99;
}

#cartItemsSummary h3{
    font-size: 0.8em;
    text-transform: uppercase;
}

#cartSubTotal{
    font-size: 1.2em;
}
#cartItemsSummary .amount{
    display: inline-block;
    margin-left: 8px;
    font-family: Futura, sans-serif;
    font-size: 1.3em;
}

#cartItemsSummary .btn{
    height: 35px;
    line-height: 35px;
    text-transform: uppercase;
    padding: 0 8px;
    font-size: 0.9em;
}

#cartItems:not(.is-empty) #emptyMessage,
#cartItems.is-empty #cartItemsSummary{
    display: none;
}

.cart-item{
    position: relative;
    padding: 18px 8px;
}

.cart-item.removed{
    display: none;
}

.cart-item:first-child{
    padding-top: 10px;
}

.cart-item.removed{
    display: none;
}

.cart-item + .cart-item{
    border-top: 1px solid #f5f5f5;
}

.cart-item .item-image{
    width: 80px;
    text-align: center;
}

.cart-item .item-image img{
    width: 80%;
}

.cart-item .remove-btn{
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 28px;
    border-radius: 50%;
    padding: 0;
    padding-top: 1.2px;
    font-size: 14px;
    position: absolute;
    right: 12px;
    top: 22px;
}

.cart-item .remove-btn svg{
    width: 15px;
    height: 15px;
    fill: #888;
}

.cart-item:first-child .btn{
    top: 8px;
}

.cart-item h3{
    font-size: 1.2em;
    margin-bottom: 4px;
}

.cart-item .price{
    font-family: "Futura", sans-serif;
    font-size: 1em;
    padding-bottom:0.3em;
}

.item-qty-bar{
    align-self: flex-start;
    height: 30px;
    overflow: hidden;
}
.item-qty-bar button{
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background-color: transparent;
    border: none;
}

.item-qty-bar button svg{
    width: 1.5em;
    height: 1.5em;
    fill: var(--accent-color);
}

.item-qty-bar button[disabled],
.item-qty-bar button.disabled,
.item-qty-bar.loading button{
    pointer-events: none;
}

.item-qty-bar button.disabled svg,
.item-qty-bar.loading button svg{
    fill: #aaa;
}

.item-qty-bar input{
    font-size: 0.9em;
    box-sizing: border-box;
    max-width: 38px;
    text-align: center;
    padding: 3px 0;
    border: none;
    margin: 0 8px;
    background: #f8f8f8;
}

.item-qty-bar.loading input,
.item-qty-bar:not(.loading) .loader{
    display: none;
}