body{

}
#cartItems{

}

#emptyMessage{
    position: fixed;
    left: 0;
    top: 60px;
    bottom: 60px;
    width: 100%;
    background: #fefefe;
}

#emptyMessage img{
    height: 177px;
}

#emptyMessage h3{
    font-size: 1.7em;
    margin-top: 8px;
}

#emptyMessage p{
    font-family: Futura, sans-serif;
    margin-top:4px;
    margin-bottom: 22px;
}

#emptyMessage .btn{
    text-transform: uppercase;
    margin-bottom: 30px;
}
#cartItemsSummary{
    position: fixed;
    bottom: 3.8em;
    left: 0;
    width: 100%;
    padding: 0.8em 0.8em;
    background-color: #f8f8f8;
    z-index: 99;
}

#cartItemsSummary h3{
    font-size: 0.8em;
    text-transform: uppercase;
}

#cartSubTotal{
    font-size: 1.2em;
}
#cartItemsSummary .amount{
    display: inline-block;
    margin-left: 8px;
    font-family: Futura, sans-serif;
    font-size: 1.3em;
}

#cartItemsSummary .btn{
    text-transform: uppercase;
    padding: 0 18px;
}

#cartItems:not(.is-empty) #emptyMessage,
#cartItems.is-empty #cartItemsSummary{
    display: none;
}

.cart-item{
    position: relative;
    padding: 8px;
}

.cart-item.removed{
    display: none;
}

.cart-item + .cart-item{
    border-top: 1px solid #f5f5f5;
    padding: 24px 0;
}

.cart-item .item-image{

}

.cart-item .item-image img{
    width: 100%;
}

.cart-item .btn{
    padding: 0 4px;
    padding-top: 1px;
    font-size: 14px;
    position: absolute;
    right: 12px;
    top: 22px;
}

.cart-item:first-child .btn{
    top: 8px;
}

.cart-item h3{
    margin-left: 16px;
    font-size: 1.4em;
    margin-bottom: 4px;
}

.cart-item .price{
    font-family: "Futura", sans-serif;
    margin-left: 16px;
    font-size: 1em;
}

.item-qty-bar button{
    font-size: 1em;
    padding: 4px 8px;
    background-color: transparent;
    border: 1px solid #ddd;
}

.item-qty-bar button[disabled],
.item-qty-bar button.disabled{
    background: #ddd;
    color: #aaa;
    pointer-events: none;
}

.item-qty-bar.loading button{
    background: #ddd;
    color: #aaa;
    pointer-events: none;
}

.item-qty-bar input{
    font-size: 1.11em;
    box-sizing: border-box;
    max-width: 48px;
    text-align: center;
    padding: 3px 0;
    margin: 0 8px;
}

.item-qty-bar.loading input,
.item-qty-bar:not(.loading) .loader{
    display: none;
}