body{
    padding-top: 50px;
    padding-bottom: 70px;
}
#appBar{
    /*box-shadow: none;*/
}

.featured-cta{
    position: relative;
    margin: 18px 8px;
    border-radius: 2px;
    overflow: hidden;
    color: #fff;
    box-shadow: 0 0 6px rgba(0,0,0,0.05);


    background-image: -webkit-linear-gradient(top left, #4351a2, #9bb1e3, #98a1c8);
    background-image: -o-linear-gradient(top left, #4351a2, #9bb1e3, #98a1c8);
    background-image: linear-gradient(to bottom right, #4351a2, #9bb1e3, #98a1c8);
}

.featured-cta.orange{
    color: #f5d8bf;
    background-image: none;
    background-image: -webkit-linear-gradient(top left, #f38536, #ffe0c6 50%, #f1995a);
    background-image: -o-linear-gradient(top left, #f38536, #ffe0c6 50%, #f1995a);
    background-image: linear-gradient(to bottom right, #f38536, #ffe0c6 50%, #f1995a);
}

.featured-cta .btn.link{
    color: #bdd1ff;
}

.featured-cta.orange .btn.link{
    color: #ad5919;
}

.featured-cta:before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(../../images/az-subtle.png);
}

.featured-cta.orange:before{
    /*background-image: none;*/
}

.featured-cta .content{
    padding-bottom: 12px;
    background-image: -webkit-linear-gradient(top left, rgba(0,0,0,0.04), rgba(0,0,0,0.2));
    background-image: -o-linear-gradient(top left, rgba(0,0,0,0.04), rgba(0,0,0,0.2));
    background-image: linear-gradient(to bottom right, rgba(0,0,0,0.04), rgba(0,0,0,0.2));
}

.featured-cta .featured-title{
    padding: 6px 12px;
}

.featured-cta + .featured-section{
    margin-top: -16px;
}

.featured-cta .product-cell{
    max-width: 33.333%;
    padding: 8px !important;
    border: none !important;
    color: #f8f8f8;
}

.featured-cta .product-cell .price,
.featured-cta .product-cell button{
    display: none;
}

.featured-cta .product-cell .name{
    font-size: 0.9rem;
}

.featured-cta.orange .product-cell{
    color: #fff5ec;
}

#banner .title{
    display: block;
    position: relative;
    width: 100%;
    background-color: #000;
    color: #fff;
    -webkit-background-size: cover;
    background-size: cover;
    text-align: center;
    z-index: 2;
    min-height: 200px;
}

#banner .title .layout{
    position: relative;
    padding: 20px;
    background-color: rgba(0,0,0,0.4);
}

#banner .title h1{
    font-size: 1.6em;
    line-height: 1.3em;
    margin-bottom: 6px;
}

.featured-section .featured-title{
    padding: 20px 12px;
    padding-bottom: 8px;
}

.featured-section .featured-title h3{
    font-size: 1.1em;
}

.featured-section .col-sm-6,
.featured-section .row{
    padding: 0;
    margin: 0;
}