@font-face { /*REGULAR FONT*/
    font-family: "FiraSans Bold";
    src: url("../fonts/firasans/FiraSans-Medium.ttf");
}

.product-bar{
	background-color: rgba(0,0,0,0.2);
	box-shadow: none;
	background-color: #fff !important;
}

.product-bar .an-action-bar svg{
	fill: #000 !important;
}

.product-bar .action-bar-title{
	color: #000;
	margin-top: 2px;
}

body{
	background: #fdfdfd;
	padding-top: 50px;
}

#productImage{
	position: relative;
	text-align: center;
	background-color: #f0f0f0;
	max-height: 300px;
	overflow: hidden;
}

#productInfo{
	padding: 12px 24px;
}

#productInfo h2{
	font-family: PT Bold, sans-serif;
	margin-top: 0.5em;
	font-size: 1.6rem;
}

#productInfo .price{
	display: block;
	padding: 8px 0;
}

#productInfo .price .currency{
	text-transform: uppercase;
	font-family: FiraSans Bold, sans-serif;
	font-size: 1rem;
	padding-right: 4px;
}

#productInfo .price .number{
	font-family: Futura, sans-serif;
	font-size: 1.6rem;
}

#productInfo .product-description{
	margin-top: 20px;
}

#productInfo .product-description h5{
	display: block;
	margin-bottom: 8px;
	font-size: 1.3rem;
}

#productInfo .product-description p{
	display: block;
	margin-bottom: 20px;
	font-family: Futura, sans-serif;
	font-size: 1.45em;
	line-height: 1.45em;
}

#addProductBar{
	position: fixed;
	width: 100%;
	bottom: 0;
	height: 60px;
	z-index: 99;
	overflow: hidden;
	background: #4351a2;
	color: #fff;

	transition: all 0.35s ease-out;
}

.product-infos.added #addProductBar{
	background: #ff3a3c;
}

#addProductBar .btn{
	height: 60px !important;
	text-transform: uppercase;
	background-color: transparent !important;
}

.product-infos.added .add-btn,
.product-infos:not(.added) .remove-btn{
	display: none;
}